body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100%;
    flex-direction: column;
}
.title-container {
    position: absolute;
    padding: 0 20px;
    top: -100px;
    left: 0;
    right: 0;
    animation: appearTitle 2s forwards;
}
@keyframes appearTitle {
    0% {
        top: -100px;
    }
    100% {
        top: 50px;
    }
}
h1 {
    color: #fff;
    margin-bottom: 20px;
}
h3 {
    color: #fff;
    display: none;
    position: relative;
    margin-bottom: 50px;
    max-width: 400px;
}
.heart-container {
    position: relative;
    width: 150px;
    height: auto;
    cursor: pointer;
    opacity: 0;
    animation: appearHeart 1s forwards;
}
@keyframes appearHeart {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.heart {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}
#slider {
    display: none;
}
.caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.slide {
    position: relative;
    max-width: 600px;
    max-height: 600px;
    width: auto\9;
}
.slide img {
    max-width: 600px;
    max-height: 600px;
    width: auto\9;
}
@media (max-width: 600px) {
    .slide img {
        max-width: 400px;
        max-height: 400px;
    }
    h3 {
        color: #fff;
        margin-bottom: 20px;
        display: none;
        position: absolute;
        top: 50px;
        text-align: center;
        left: 50%;
        translate: -50%;
    }
}